<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="dk.brinkler.gl.viewer.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.name"
            class="dk.brinkler.gl.viewer.Perspective"
            id="dk.brinkler.gl.viewer.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.name"
            allowMultiple="true"
            icon="$nl$/icons/sample2.gif"
            class="dk.brinkler.gl.viewer.views.View"
            id="dk.brinkler.gl.viewer.view">
      </view>
      <view
            name="%view.name.0"
            allowMultiple="true"
            icon="$nl$/icons/sample3.gif"
            class="dk.brinkler.gl.viewer.views.NavigationView"
            id="dk.brinkler.gl.viewer.navigationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%category.name"
            id="dk.brinkler.gl.viewer.category">
      </category>
      <command
            name="%command.name"
            description="%command.description"
            categoryId="dk.brinkler.gl.viewer.category"
            id="dk.brinkler.gl.viewer.open">
      </command>
      <command
            name="%command.name.0"
            description="%command.description.0"
            categoryId="dk.brinkler.gl.viewer.category"
            id="dk.brinkler.gl.viewer.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="dk.brinkler.gl.viewer.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="dk.brinkler.gl.viewer.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="dk.brinkler.gl.viewer.application"
            name="%product.name">
         <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
      </product>
   </extension>

</plugin>
